node_modules
debug.log
/.vs/lostlabconference/CopilotIndices/17.13.433.20974
/.vs/lostlabconference/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/lostlabconference/config/applicationhost.config
/.gitignore
